@import url("../fonts/fonts.css");

.main_container {
    width: 1100px;
    margin-left: 16px;
}

.text_style {
    font-family: Raleway;
    color: white;
}

.cont {
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 93px;
    padding-right: 26.5px;
    padding-left: 26.5px;
    display: flex;
    /*justify-content: ;*/
    align-items: center;
}

.text {
    font-family: Raleway;
    font-size: 18px;
}

.custom_underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.header_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    min-width: 433px;
}

.header_menu li {
    margin-top: 1px;
    margin-right: -1px;
    margin-left: 16px;
}

.header_menu li:last-child {
    margin-right: 0;
}

.header_menu li:not(:first-child)::before {
    content: '';
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    background-color: transparent;
    margin-left: 0px;
}

.header_image {
    height: 105px;
    width: auto;
    margin-left: 15px;
    margin-right: 193px;
}

.header_data {
    list-style-type:  none;
    max-width: 240px;
    height: auto;
    margin-top: 1px;
}

.header_data li {
    margin-bottom: 5px;
}


.cover {
    height: 757px;
    max-width: 100%;
    background-image: url("../images/cover.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 163px;
    padding-left: 50px;
    /*padding-right: 50px;*/
    margin-bottom: 179px;
}

.overlay {
    background-color: rgba(0,0,0, 0.6);
    background-blend-mode: multiply;
}

.cover_title {
    color: white;
    font-weight: 700;
    font-size: 100px;
    /*display: inline-block;*/
}

.cover_center_title {
    margin-top: 10px;
    margin-left: 287px;
}

.cover_bottom_title {
    margin-top: 3px;
    margin-left: 584px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover_description {
    display: flex;
    text-transform: uppercase;
    margin-top: 140px;
    margin-left: 29px;
    font-size: 22px;
}

.cover__description-text {
    word-spacing: 18.5px;
}

.bet-button {
    text-transform: uppercase;
    font-size: 22px;
    background-color: transparent;
    border: white solid 1px;
    margin-left: 79px;
    width: 255px;
    height: 50px;
    margin-top: -13px;
}

.lots {
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-family: Raleway;
    margin-bottom: 26px;
}

.lots_row {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.lots_col {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 563px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    padding-bottom: 48px;
    background-position: center center;
}

.card__title {
    text-transform: uppercase;
    font-size: 22px;
}

.card__text {
    margin-top: auto;
    font-size: 20px;
}

.lots__look-more-link {
    margin-left: 40px;
    color: black;
    font-size: 20px;
}

.about {
    width: 100%;
    padding-left: 24px;
    padding-right: 23px;
    margin-top: 146px;
    height: 595px;
    /*background-color: red;*/
    display: grid;
    column-gap: 25px;
    grid-template-columns: 334px auto;
    grid-template-rows: 283px auto;
    margin-bottom: 180px;
}

.about__logo {
    background-color: black;
    width: 100%;
    height: 97%;
    border-radius: 100%;
    padding-top: 64px;
    padding-left: 47px;
    padding-right: 47.56px;
    padding-bottom: 62.2px;
}

.logo {
    padding-top: 35px;
    padding-left: 47px;
    padding-right: 47px;
}

.about__logo-image {
    width: 148px;
}

.about__title_cont {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-left: 1px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.about__text {
    /*width: 10%;*/
    /*word-spacing: 1%;*/
    font-weight: 400;
    color: black;
    font-size: 20px;
    margin-left: 1px;
}

.top {
    margin-right: 5px;
}

.bottom {
    margin-top: 24px;
}

.footer {
    margin-bottom: 88px;
    padding-left: 50px;
    padding-right: 49px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    width: 207px;
}

.footer__menu-list {
    text-align: center;
    margin-top: 3px;
    font-size: 18px;
    margin-left: 33px;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 2px;
    /*width: 275px;*/

}

.footer__social-icon {
    margin-left: 48px;
}