@import url("../fonts/fonts.css");
@import url("../styles/global.css");

.main_container {
    width: 1100px;
    /*margin-left: 16px;*/
}

.text_style {
    font-family: Raleway,  sans-serif;
    color: white;
}

li {
    list-style-type: none;
    text-decoration: none;
}
header{
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 37px;
    margin-bottom: 93px;
    padding-right: 49px;
    padding-left: 11px;
    display: flex;
    /*justify-content: ;*/
    align-items: center;
}

.text {
    font-family: Raleway,  sans-serif;
    font-size: 18px;
}

.custom_underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.header_menu {
    padding: 0;
    margin: 0;
    display: flex;

}

.header_menu li {
    margin-top: 1px;
    margin-right: 16.5px;
    margin-left: 16px;
}

.list-style {
    list-style: circle;
}

.header_image {
    height: 105px;
    width: auto;
    margin-left: 27px;
}

.header_footer_data {
    list-style-type:  none;
    max-width: 240px;
    height: auto;
    margin-top: 1px;
    margin-left: auto;
    font-style: normal;
}

.header_footer_data ul {
    list-style: none;
}

.header_footer_data li {
    margin-bottom: 5px;
}


.cover {
    max-width: 100%;
    background-image: url("../images/cover.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 163px;
    padding-bottom: 51px;
    padding-left: 50px;
    /*padding-right: 50px;*/
    margin-bottom: 179px;
}

.overlay {
    background-color: rgba(0,0,0, 0.6);
    background-blend-mode: multiply;
}

.aligned-text {
    display: flex;
}

.aligned-text span:first-child {
    margin-right: 30px;
}

.cover_title {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    display: block;
}

.cover_center_title {
    padding-right: 79px;
    justify-content: center;
    margin-top: 10px;
}

.cover_bottom_title {
    justify-content: right;
    padding-right: 20px;
    margin-top: 3px;

}



.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover_description {
    display: flex;
    text-transform: uppercase;
    margin-top: 127px;
    margin-left: 29px;
    font-size: 22px;
}

.cover__description-text {
    word-spacing: 18.5px;
    margin-top: 13px;
}

.bet-button {
    text-transform: uppercase;
    font-size: 22px;
    background-color: transparent;
    border: white solid 1px;
    margin-left: 79px;
    width: 255px;
    height: 50px;
}

.lots {
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-family: Raleway,  sans-serif;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.lots_row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots_col {
    display: flex;
    flex-direction: column;
    width: 334px;
    flex-grow: 1;
    height: 563px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    padding-bottom: 48px;
    background-position: center center;
}

.lots_col a {
    height: 100%;
}

.lost_atricle {
    height: 100%;
    display: flex; /* Добавлено */
    flex-direction: column;
}

.card__title {
    text-transform: uppercase;
    font-size: 22px;
}

.card__text {
    margin-top: auto;
    font-size: 20px;
}

.lots__look-more-link {
    margin-left: 40px;
    color: black;
    font-size: 20px;
}

.about {
    width: 100%;
    padding-left: 24px;
    padding-right: 23px;
    margin-top: 146px;
    /*background-color: red;*/
    display: grid;
    column-gap: 25px;
    grid-template-columns: 334px auto;
    grid-template-rows: 283px auto;
    margin-bottom: 492px;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    padding-top: 64px;
    padding-left: 47px;
    padding-right: 47.56px;
    padding-bottom: 62.2px;
}

.logo {
    padding-top: 35px;
    padding-left: 47px;
    padding-right: 47px;
}

.about__logo-image {
    width: 148px;
}

.about__title_cont {
    display: grid;
    max-width: 688px;
    grid-template-rows: auto 144px;
    padding-top: 137px;
    padding-left: 1px;
    gap: 100px;
}

.about_cont_text {
    display: grid;
    gap: 24px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.about__text {
    margin-top: 0px;
    font-weight: 400;
    color: black;
    font-size: 20px;
    margin-left: 0px;
}

.top {
    margin-right: 5px;
}

.bottom {
    margin-top: 24px;
}

.footer {
    margin-bottom: 88px;
    padding-left: 50px;
    padding-right: 49px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    max-width: 207px;
}

.footer__menu-list {
    text-align: center;
    margin-top: 3px;
    font-size: 18px;
    margin-left: 33px;
}

.footer__menu-list a {
    color:black;
}

.not_under {
    text-decoration: none;
}

.custom_underlinee {

}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    /*width: 240px;*/
    gap: 48px;
}

.header_social_img {
    height: 48px;
}

.lots_img_summer {
    background-image: url('../images/card-lot-01.jpg');
}

.lots_img_door {
    background-image: url('../images/card-lot-02.jpg');
}

.lots_img_figure {
    background-image: url('../images/card-lot-03.jpg');
}

.lots_h_custom {
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}